// Place all the styles related to the pro_genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


 /*=======*/
.main-visual{
    width: 100%;
    height: 400px;
    background-image: image-url("3aa4686842f627da8aea70f6f9fbd88d_s.jpg");
    background-size: cover;
    background-position: center;
    margin-bottom: 50px;
}
.main-visual2{
    width: 100%;
    height: 400px;
    background-image: image-url("50b77b9329b48bd0796d1b6e922f372d_s.jpg");
    background-size: cover;
    background-position: center;
}
.main-visual3{
    width: 100%;
    height: 400px;
    background-image: image-url("pioneer_fix-min-790x480.jpeg");
    background-size: cover;
    background-position: center;
}
.main-visual-content {
  width: 40%;
  height: 400px;
  text-align: center;
  padding-top: 105px;
  background-color: rgba(0,0,0,0.5);
}

.main-visual-text {
  color: white;
  font-family: Chalkduster, "Bradley Hand", Courier, "Segoe Print", sans-serif;
  font-size: 60px;
  -webkit-box-reflect: below -10px -webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0) 10%,rgba(0, 0, 0, 0.8));
}


 /*=======*/

/*----------11/27追加----------*/
.search-area {
    margin-bottom: 20px;
    margin-top: 20px;
}

.genre-show-btn {
    width:150px;
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 5px 11px 5px 15px;
    text-decoration: none;
    color: #555555;
    transition: .3s;
    font-family:Verdana, Helvetica;
}

.genre-show-btn:before {
   position: absolute;
   display: inline-block;
   content: '';
   width: 3px;
   height: 100%;
   top: 0;
   left: 0;
   border-radius: 3px;
   background:#555555;
}

/*.genre-show-btn:after{
   position: absolute;
   display: inline-block;
   content: '';
   width: 3px;
   height: 100%;
   top:0;
   left: 100%;
   border-radius: 3px;
   background:#555555;
}*/

.genre-show-btn:hover:before/*,.genre-show-btn:hover:after*/{
  -webkit-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  transform: rotate(10deg);
  background: orangered;
}

/*----------------------------*/
.genre-show-btn {
    
}
.main {
    border-left: solid 1px #ddd;
}

.genre-show {
    position: relative;
    margin-bottom: 40px;
}
.new-info,
.genre-title {
    margin: 20px auto;
    font-weight: bold;
    text-align: center;
    font: normal 26px/1 Verdana, Helvetica;
    letter-spacing: 3px;
}
.new-info{
    color:red;
}

.new-info:after,
.genre-title:after,
.new-info:before ,
.genre-title:before {
    border-top:double 1px #777;
    border-bottom:double 1px #777;
    content: "";
    height: 3px;
    width: 200px;
    position: absolute;
    top: 30px;
}
.new-info:after,
.new-info:before {
    border-top:double 1px red;
    border-bottom:double 1px red;
}

.new-info:after,
.genre-title:after {
    right: 80px;
}

.new-info:before,
.genre-title:before {
    left: 80px;
}
/*//- - - - - topのリボン - - - - -*/
.big-ribbon{
    display: inline-block;
    font-size: 18px;
}
/*//- - - - - NEWのリボン - - - - -*/

.newsign {
    position: absolute;
    top: -3px;
    right: 12px;
    width: 89px;
    height: 91px;
    overflow: hidden;
}

.ribbon {
    display: inline-block;
    position: absolute;z-index: 1;
    padding: 7px 0;
    left: -23px;
    top: 20px;
    width: 156px;
    text-align: center;
    font-size: 15px;
    line-height: 12px;
    background: orangered;
    color: #fff;
    letter-spacing: 0.07em;
    transform: rotate(45deg);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.ribbon:before,.ribbon14:after{
    position: absolute;
    content: "";
    border-top: 4px solid #b2751b;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    bottom: -4px;
}

.ribbon:before{
    left: 14px;
}

.ribbon:after{
    right: 18px;
}

.bx-wrapper {
  margin: 0 !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: none !important;
  background: none !important;
}

.cd-image {
    margin-bottom: 2px;
    position: relative;
    text-align: center;
    overflow: hidden;
    height: 220px;
}
.cd-image:hover img {
    -webkit-transform:scale(1.05);
    -moz-transform:scale(1.05);
     transform:scale(1.05);
     transition: 0.3s ;
}
.cd-image-overlay {
    position: absolute;
    background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.4));
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.4));
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.4));
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    bottom: 0;
    top: 165px;
    left:0;
    right: 0;
    margin-bottom: 3px;
}
.cd-image-overlay:hover {
    position: absolute;
    top: 145px;
    transition: 0.3s ;
}
.cd-image img {
    opacity: 1;
    max-width: 100%;
    height: auto;
}
.cd-image-overlay a,
.cd_title {
    text-decoration: none;
    color:white;
}
.cd-image-overlay p {
    font-size: 12px;
    color:white;
    margin:0;
}
.cd_title {
    font-size: 15px;
    font-weight: bold;
}
.review-amount {
    text-decoration: none;
    padding: 3px;
    position: absolute;
    top:5px;
    right: 15px;
    border: 1px solid #ffffff;
    border-radius: 2px;
    font-size: 5px;
}
.cd-image-overlay span:hover,
.cd-image-overlay a:hover,
.cd-image-overlay h4:hover {
    color: white;
}
