// Place all the styles related to the pro_genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


 /*=======*/
.main-visual{
    width: 100%;
    height: 400px;
    background-image: image-url("3aa4686842f627da8aea70f6f9fbd88d_s.jpg");
    background-size: cover;
    background-position: center;
}
.main-visual2{
    width: 100%;
    height: 400px;
    background-image: image-url("50b77b9329b48bd0796d1b6e922f372d_s.jpg");
    background-size: cover;
    background-position: center;
}
.main-visual3{
    width: 100%;
    height: 400px;
    background-image: image-url("pioneer_fix-min-790x480.jpeg");
    background-size: cover;
    background-position: center;
}
.main-visual-content {
  width: 40%;
  height: 400px;
  text-align: center;
  padding-top: 105px;
}

.main-visual-text {
  color: white;
  font-family: Chalkduster, "Bradley Hand";
  font-size: 60px;
  -webkit-box-reflect: below -10px -webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0) 10%,rgba(0, 0, 0, 0.8));
}
 /*=======*/


.genre-list p {
    padding: 5px;
    color: #494949;
    background: #f4f4f4;
    border-left: solid 5px #AE9890;
}
.genre-list p :hover {
    color: orangered;
    transition: 0.5s ;
}

.main {
    border-left: solid 1px #ddd;
}

.genre-title {
    background: linear-gradient(transparent 50%, #F7D76B 80%);
}

.new-info {
    background: linear-gradient(transparent 50%, #FB7D79 80%);
}
//- - - - - card - - - - -

.card {
    width: 185px;
    display: inline-block;
    padding: 3px 3px 0 3px;
    margin-bottom: 3px;
    border: 1px solid #ddd;
    position: relative;
    box-sizing: border-box;
    border-radius: 2px;
}

.card-content {
    padding: 5px;
}
.card-title,
{
    font-size: 15px;
    font-weight: bold;
}
.card-text {
    font-size: 12px;
}
.review-amount {
    padding: 3px;
    bottom: 10px;
    right: 10px;
    border: 1px solid #ddd;
    position: absolute;
    box-sizing: border-box;
    border-radius: 2px;
}


//- - - - - NEWのリボン - - - - -

.newsign {
    position: absolute;
    top: -6px;
    right: -6px;
    width: 89px;
    height: 91px;
    overflow: hidden;
}

.ribbon {
    display: inline-block;
    position: absolute;
    padding: 7px 0;
    left: -23px;
    top: 22px;
    width: 156px;
    text-align: center;
    font-size: 15px;
    line-height: 12px;
    background: orangered;
    color: #fff;
    letter-spacing: 0.07em;
    transform: rotate(45deg);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.ribbon:before,.ribbon14:after{
    position: absolute;
    content: "";
    border-top: 4px solid #b2751b;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    bottom: -4px;
}

.ribbon:before{
    left: 14px;
}

.ribbon:after{
    right: 18px;
}

