// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


* {
	margin: 0;
	padding: 0;
	box-sizing:  border-box;
}

a {
	text-decoration: none;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

.page-title {
	width: 100%;
	height: 50px;
	padding-left: 40px;
}

.pro_genre-index-sidebar {
	width: 20%;
	float: left;
}

.pro_genre-index-sidebar-box {
	width: 90%;
	margin-left: 10%;
}

.pro_genre-index-main {
	width: 80%;
	float: left;
}



/*product index*/

.product-index-title {
    width: 100%;
}

.product-index-title-left {
    width: 50%;
    float: left;
}

.product-index-title-right {
    width: 50%;
    float: left;
}



.product-index-title-right-box1 {
    float: left;
    margin: 20px 5px 0 0;
}


/*product new,edit*/

.new-title-text {
    float: left
}

.new-title-link {
    float: right;
    padding: 20px 20px 0 0;
}

